
<main>
    <div class="main">
        <section class="hero">
            
            <h1>Welcome to CSE Motors</h1>
            <div class="color">
                <div>
                    <p>Your trusted automotive partner.</p>
                    <img src="images/site/own_today.png" alt="">
                </div>
            </div>

        </section>

        <div class="reviews">
            
                <section class="features-container">
                    <h2>Delorean upgrades</h2>
                    <div  class="features">
                        <div class="feature">
                            <img src="images/upgrades/flux-cap.png" alt="Car sales">
                            <h2>Quality Cars</h2>
                            <p>Wide range of new and used cars.</p>
                        </div>
                            <div class="feature">
                            <img src="images/upgrades/flame.jpg" alt="Car service">
                            <h2>Trusted Service</h2>
                            <p>Certified mechanics and quick service.</p>
                        </div>
                        <div class="feature">
                            <img src="images/upgrades/hub-cap.jpg" alt="Customer support">
                            <h2>Customer Support</h2>
                            <p>Here for you 24/7.</p>
                        </div>
                        <div class="feature">
                            <img src="images/upgrades/bumper_sticker.jpg" alt="Customer support">
                            <h2>Customer Support</h2>
                            <p>Here for you 24/7.</p>
                        </div>
                    </div>
                </section>
                <section class="reviews-cars">
                    <h2>DMC Delorean Reviews</h2>
                    <li>"So fast it's almost like travling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!"</li> (5/5)
                    <li>"The most futuristic ride of our day." (4/5)</li>
                    <li>"80's livin and I love it" (5/5)</li>
                </section>
        </div> 
    </div>
</main>

